@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-white: #fffedb;
    --color-dark1: #383939;
    --color-dark2: #1e1e1e;
    --color-green: #149c68;
    --color-green2: #38c958;
}

body {
    height: 100vh;
    background: var(--color-dark1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.saudacao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw; 
    color: var(--color-white);
    background: var(--color-dark2);
    box-shadow: var(--color-white);
    border-radius: 7px;
    letter-spacing: 3px;
    padding: 10px;
    text-align: center;
    width: 90%; 
    max-width: 550px; 
    position: absolute;
    top: 15px; 
    left: 50%;
    transform: translateX(-50%); 
}


.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 200px;
    width: 90%; /* Use uma porcentagem para ajustar o tamanho do relógio */
    max-width: 550px; /* Defina uma largura máxima */
    background-color: var(--color-green);
    border-radius: 5px;
    box-shadow: 0px 8px 10px var(--color-white);
}

.relogio div {
    height: 170px;
    width: 30%; /* Use uma porcentagem para ajustar o tamanho das divisões */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background: var(--color-dark2);
    box-shadow: var(--color-white);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 4vw; /* Use um tamanho de fonte relativo */
}

.relogio span.tempo {
    font-size: 2vw; /* Use um tamanho de fonte relativo para o texto de tempo */
}

@media screen and (max-width: 768px) {
    .relogio {
        flex-direction: column;
        height: auto;
    }
    
    .relogio div {
        width: 80%;
        margin-bottom: 10px;
    }
    
    .relogio span {
        font-size: 6vw;
    }
    
    .relogio span.tempo {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    .relogio span {
        font-size: 8vw;
    }
    
    .relogio span.tempo {
        font-size: 4vw;
    }
}
